@import "./colors.scss";
@import "./iconfont.scss";

html {
  font-size: 100px;
}

body {
  font-size: 0.16rem;
}

#app {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  &:link {
    color: $primary-color;
  }
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $primary-color;
  }
  &:active {
    color: $primary-color;
  }
}
