$primary-color: #0d6efd;
$white-color: #FFF;
$light-white-color: #F8F9FA;
$grey-color: #999;
$middle-grey-color: #dee2e6;
$light-grey-color: #6c757d;
$dark-grey-color: #666;
$black-color: #000;
$light-black-color: rgba(0, 0, 0, 0.125);
$loading-background: rgba(255, 255, 255, 0.95);
$error-color: red;
$success-color: green;