$primary-color: #2BAE85;
$dark-primary-color: #428675;
$white-color: #FFF;
$light-white-color: #F8F9FA;
$grey-color: #999;
$light-grey-color: #6C757D;
$middle-grey-color: #DEE2E6;
$dark-grey-color: #666;
$black-color: #000;
$light-black-color: rgba(0, 0, 0, 0.125);
$dark-black-color: rgba(0, 0, 0, 0.7);
$loading-background: rgba(255, 255, 255, 0.95);
$error-color: red;
$success-color: green;